.forgot-container {
  margin-top: 80px;
}

.forgot-box {
  padding: 32px;
  border-radius: 16px;
  background-color: #e6ee9c;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.forgot-title {
  margin-bottom: 20px;
  font-weight: 500;
}

.forgot-button {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}