.home-container {
  margin-top: 80px;
}

.home-box {
  padding: 32px;
  border-radius: 16px;
  background-color: #e6ee9c;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.home-title {
  margin-bottom: 20px;
  font-weight: 600;
}

.home-logout-button {
  margin-top: 16px;
}