/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 15px;
  padding: 24px;
  margin-left: 0px;
  align-content: center;
  margin-right: 0px;
}

.login-icon {
  font-size: 60px !important;
  color: #3f51b5;
}

.login-title {
  margin-top: 20px;
}

.login-form {
  width: 100%;
  margin-top: 20px;
}

.login-textfield {
  margin-top: 16px !important;
  margin-left: 40px !important;
  width: 80%;
}

.login-button {
  margin-top: 16px !important;
  margin-left: 100px !important;
  width: 40%;
}

.login-link {
  margin: 20px 0;
}

.dialog-button {
  margin-top: 16px;
}

.login-divider {
  margin-top: 15px !important;
}

.login-signup-link {
  margin-top: 12px;
  text-align: center;
  display: block;
  text-decoration: none;
}

.MuiFormHelperText-root.Mui-error {
  color: red;
}

 */


html, body {

  height: 100%;

  margin: 0;

  padding: 0;

  width: 100%;

  overflow: hidden;

}
 
.login-container {

  display: flex;

  flex-direction: column;

  align-items: center;

  border-radius: 15px;

  padding: 24px;

}
 
.login-icon {

  font-size: 60px !important;

  color: #3f51b5;

}
 
.login-title {

  margin-top: 20px;

}
 
.login-form {

  width: 100%;

  margin-top: 20px;

}

.login-button{
  margin-left: 50px;
}
 