.reset-container {
  margin-top: 10px;
}

.reset-box {
  padding: 32px;
  text-align: center;
}

.reset-title {
  margin-bottom: 20px;
  font-weight: 500;
}

.reset-button {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}