body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.forgot-wrapper {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-container {
  width: 100%;
  max-width: 480px;
}

.forgot-box {
  padding: 32px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.forgot-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #333;
}

.forgot-button {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: #1877f2;
  color: white;
  font-weight: bold;
  text-transform: none;
  font-size: 14px;
}

.forgot-button:hover {
  background-color: #155cbe;
}
