.app-bar {
  background-color: #3b5998;
  box-shadow: none;
  padding: 15px 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  margin-left: auto; 
}

.input-stack {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  align-self: flex-end;
}


.checkbox-label {
  color: white;
  font-size: 14px;
  bottom: 10px;
  align-self: flex-right;
}

.checkbox-label-onClick{
  color: white;
}

.forgot-link {
  font-size: 14px;
  color: rgb(255, 255, 255) !important;
  padding: 7px;
  align-items: flex-end;

}

.input-field {
  background-color: white;
  align-items: flex-end;
  
}

.input-field input {
  padding: 6px;
  font-size: 13px;
  align-items: center;
}

.MuiFormHelperText-root {
  font-size: 12px;
  color: red;
  margin-left: 2px;
  margin-top: 2px;
}

.login-button {
  padding: 6px 16px;
  font-weight: bold;
  background-color: #1877f2;
  color: white;
  border-radius: 4px;
  text-transform: none;
}

.login-button:hover {
  background-color: #145dbf;
}
.options-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 1px;
}


