#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body, html {
  padding: 0;
  margin: 0 8%;
  box-sizing: border-box;
  height: 100;
  background-color: #fff;
}

.page-wrapper {
  display: flex;
  align-items: center;
  margin-left: 50px;
  justify-content: center;
  /* width: 100%; */
  background-color: #fff;
}

.content-container {
  width: 1280px;
  margin: 0 auto;
  background-color: #fff;
}
