#root {
  max-width: 100%;
  /* margin: auto; */
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body, html {
  padding: 0;
  /* margin: 0 8%; */
  /* box-sizing:100%; */
  height: 100;
  width: 100%;
  background-color: #fff;
  justify-content: center;
}

.page-wrapper {
  display: flex;
  align-items: center;
  /* margin-left: 50px; */
  justify-content: center;
  width: 100%;
  background-color: #fff;
}

.content-container {
  width: 100%;
  /* margin: 0 auto; */
  background-color: #fff;
  justify-content: center;
}
