.main-wrapper {
  display: flex;
  justify-content: center;
  background: #ffffff;
  width: 1280px;
}

.main-container {
  background: #fff;
}

/* Header */
.header-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 70px;
  margin-bottom: 18px;
   font-family: url("./fonts/AvenirLTStd-Medium.otf");  
}


.update-heading {
  font-size: 26px;
  font-weight: 400;
  color: #6A6A6A;
  margin: 10px 0 0px 0px;
 
}

.date-download-row {
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-top: 0px;
  gap: 14px;
  color: #6A6A6A;
  height: 25px;
}


.date {
  font-size: 16px;
  color: #6A6A6A;
  white-space: nowrap;
}

.divider {
  width: 725px;
  height: 0.7px;
  background-color: #D4D4D4;
  margin: 0 10px;
}

.download-btn {
  color: #00b3ac;
  border: 1px solid #00b3ac;
  padding: 4px 14px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background-color: transparent;
  white-space: nowrap;
}

.excel-img {
  width: 16px;
  height: 16px;
}

.download-img {
  width: 20px;
  height: 20px;
}


/* Layout */
.content-row {
  display: flex;
  gap: 24px;
}

.updates-column {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: px;
}

/* Company Header */
.update-card {
  background: transparent;
  padding: 1px 16px;
}

.company-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  height: 48px;
  width: 946px;
  margin-top: 6px;
  
}

.company-logo {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.company-name {
  color: #336699;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  font-family: url("./fonts/AvenirLTStd-Medium.otf");  
}

.tags {
    display: flex;
  font-size: 13px;
  color: #6a6a6a;
  margin: 0px 0 0 0 ;
  font-family: url("./fonts/AvenirLTStd-lighter.otf");  
}

/* Event Block */
.event-block {
  border-top: 1px dashed #ccc;
  padding-top: 0px;
  margin-top: 12px;
}

.event-type-title {
  font-weight: 600;
  font-size: 17px;
  margin: 16px 0 6px;
  padding-left: 0;
  margin-top: 6px;
  text-align: left;
  font-family: url("./fonts/AvenirLTStd-Medium.otf");  
}

.event-type-title.appointment {
  color: #1F5BCF;
}

.event-type-title.negative {
  color: #ED3327; 
}
.event-type-title.event-type-title.employeement-Agreement{
    color: #5c27d4;
}

/* Employee */
.employee-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 16px;
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.name-date-row,
.role-wealth-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.emp-name {
  font-size: 15px;
  font-weight: 400;
  color:#2D3E4F ;
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: url("./fonts/AvenirLTStd-Medium.otf");  
}

.update-date {
  font-size: 13px;
  color: #336699;
  white-space: nowrap;
   font-family: url("./fonts/AvenirLTStd-Medium.otf");  
}

.source {
  color: #888;
}

.role {
   font-family: url("./fonts/AvenirLTStd-Lighter.otf");  
  font-size: 13px;
  color: #6A6A6A;
  margin-top: 2px;
}

.wealth-value {
  font-size: 13px;
  color: #008bb0;
  white-space: nowrap;
  margin-top: 3px;
   font-family: url("./fonts/AvenirLTStd-Lighter.otf");  
}

.badge {
  background-color: #0077b6;
  color: white;
  font-size: 11px;
  width:23px;
  height: 12px;
  align-items: center;
   font-family: url("./fonts/AvenirLTStd-lighter.otf");  
}

/* Sidebar */
.sidebar {
  width: 260px;
  background-color: #fefefe;
  border-radius: 4px;
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  width: 236px;
  height: 232px;
  padding: 16px;
  height: fit-content;
}

.sidebar-divider {
  height: 0.7px;
  background-color: #D4D4D4;
  margin: 8px 0 12px;
  width: 200px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  margin-bottom: 12px;
   font-family: url("./fonts/AvenirLTStd-Heavy.otf");  
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: url("./fonts/AvenirLTStd-Medium.otf");  
}

.sidebar-list li {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   font-family: url("./fonts/AvenirLTStd-Medium.otf");  
}

.sidebar-list li svg {
  color: #00b3ac;
  font-size: 16px;
}

.all-updates-container {
 background-color: #FFFFFF;
  border: 1px solid #D4D4D4;
  border-radius: 8px;
  width: 948px; 
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.company-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0; 
}

.dashed {
  border: none;
  border-top: 1px dashed #ccc;
  width: 100%;
  margin: 12px 0;
}
