.main-wrapper {
  display: flex;
  justify-content: center;
  background: #f8f9fa;
  padding: 24px;
}

.main-container {
  background: #fff;
  width: 1280px;
}

/* Header Row */
.header-row {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin-bottom: 12px;
}
.update-heading {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #444;
  margin-right: 1130px;
}

.date-download-row {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.date {
  font-size: 16px;
  color: #555;
  /* margin: 4px 0 0; */
  white-space: nowrap;
}


.download-btn {
  background-color: #00b3ac;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
 
  white-space: nowrap;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 16px;
  width: 57.4% !important;

  
}

/* Content row */
.content-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

/* Update Card */
.update-card {
  flex: 1.5;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  width: 964px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 54px;
}

.company-logo {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-right: 12px;
}

.company-info{
  display: flex;
  flex-direction: column;
  font-family:Arial-BoldMT ;
  font-size: 17px;
  font-weight: bold;
  color: #336699;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tags {
  font-size: 13px;
  color: #6A6A6A;
  margin-top: 0px;
  margin-right: 250px;
  font-weight: lighter;

}

.sec-date {
  font-size: 13px;
  color: #008bb0;
  white-space: nowrap;
  margin-left: 10px;

}

/* Dashed line */
.dashed {
  border-top: 1px dashed #ccc;
  margin: 12px 0;
}

/* Profile */
.title {
  font-weight: 600;
  color: #004ea8;
  margin-bottom: 10px;
  margin-right: 790px;
}


.profile-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-info div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.profile-info strong {
  text-align: left;
  display: block;
}


.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.badge {
  background: #0077b6;
  color: white;
  font-size: 11px;
  padding: 0px 4px;
  margin-left: 4px;
  margin-right: 18px;
}

.new-role {
  font-size: 14px;
  color: #444;
  margin-top: 4px;
}

/* Sidebar */
.sidebar {
  /* flex: 1; */
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  height: fit-content;
  width: 260px;
  top: 0px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  margin-bottom: 12px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-list li svg {
  color: #00b3ac;
  font-size: 16px;
}
