.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002b5c;
  padding: 12px 24px;
  height: 40px;
  color: white;
  position: sticky;
  top: 0px;
}

.navbar-logo img {
  height: 48px;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.down-arrow{
    width: 10px;
    height: 6px;
    margin-bottom: 9px;
}
.navbar-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

