.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2E3E4F;
  padding: 12px 24px;
  width: 1280px;
  color: white;
  position: sticky !important;
  top: 0px;
  height: 64px;
  z-index: 1000; 
  box-sizing: border-box;
}


.navbar-logo img {
  height: 24px;
  margin-top: 5px;
  width: 105px;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.down-arrow{
    width: 10px;
    height: 6px;
    margin-bottom: 9px;
}
.navbar-profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

